# App
NODE_ENV=development
PORT=3005
LOG_LEVEL=info
BASE_URL=http://localhost

# JWT
JWT_ACCESS=your-access-secret
JWT_REFRESH=your-refresh-secret

# Database
# Options: map, sqlite, postgres
DB_DRIVER=postgres
DATABASE_URL=postgres://name:pass@localhost:5432/table

